/*variable en sass*/
$yellow:#433f3f;

/*definiendo mixins*/
@mixin margen($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margen(50px, 0px);
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    @include margen(0, 10px);
}

.btn {
    width: 100%;
}

.tab-content {
    padding-top: 10px;
}

.footer-adress-icon {
    padding-right: 10px;
}

footer {
    background-color: rgba(150, 149, 149, 0.62);
    height: auto;
    @include margen(5px, 0px);
}
