/*variable en less*/
/*definiendo mixins*/
.jumbotron {
  background-color: yellow;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 300px;
  padding: 2px 5px 2px 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.btn {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
.footer-adress-icon {
  padding-right: 10px;
}
footer {
  background-color: rgba(150, 149, 149, 0.62);
  height: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}
