/*variable en less*/
@yellow: yellow;

/*definiendo mixins*/
.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    .margenes(0px, 10px);
}

.btn {
    width: 100%;
}

.tab-content {
    padding-top: 10px;
}

.footer-adress-icon {
    padding-right: 10px;
}

footer {
    background-color: rgba(150, 149, 149, 0.62);
    height: auto;
    .margenes(5px, 0px);
}
